.page-header
  %h1 
    Resultado Total 
    %b Elecciones 2014
    %small Ciudad Nueva


.row
  .col-sm-12
    %table.table.table-bordered.table-condensed.table-hover
      %tr.well
        %th #
        %th Nombre y Apellidos
        %th Partido Politico
        %th Cantidad
      - i = 1

      %tr
        %td= i          
        %td{:style => 'font-size: 11px;'} MARIO GOMEZ CHATA
        %td{:style => 'font-size: 11px;'} MOVIMIENTO REGIONAL ARRIBA TACNA
        %td= @mario_gomez_chata
      - i = i + 1
      %tr
        %td= i          
        %td{:style => 'font-size: 11px;'} PORFIRIO SILES CHOQUE LARICO
        %td{:style => 'font-size: 11px;'} MOVIMIENTO POPULAR AYMARA QUECHUA AMAZONENSE
        %td= @porfirio_siles_choque_larico
      - i = i + 1
      %tr
        %td= i          
        %td{:style => 'font-size: 11px;'} JULIAN ALAVE CUITO
        %td{:style => 'font-size: 11px;'} MOVIMIENTO REGIONAL NUEVA GENERACION TACNEÑA
        %td= @julian_alave_cuito
      - i = i + 1
      %tr
        %td= i          
        %td{:style => 'font-size: 11px;'} HELMER JOEL FERNANDEZ CHAPARRO
        %td{:style => 'font-size: 11px;'} ORGANIZACION LOCAL (DISTRITAL) INTEGRACION CIUDAD NUEVA
        %td= @helmer_joel_fernandez_chaparro
      - i = i + 1
      %tr
        %td= i          
        %td{:style => 'font-size: 11px;'} EDY HUGO ÑACA BAILON
        %td{:style => 'font-size: 11px;'} ORGANIZACION LOCAL (DISTRITAL) MOVIMIENTO INDEPENDIENTE RECUPEREMOS CIUDAD NUEVA
        %td= @edy_hugo_naca_bailon
      - i = i + 1
      %tr
        %td= i          
        %td{:style => 'font-size: 11px;'} SANDRO MANUEL RETAMOZO AQUIJE
        %td{:style => 'font-size: 11px;'} ORGANIZACION LOCAL (DISTRITAL) NUEVO MALLKU
        %td= @sandro_manuel_retamozo_aquije
      - i = i + 1

      - x = @edgar_rogelio_concori_coaquira.to_i
      - a = @mario_gomez_chata.to_i
      - b = @porfirio_siles_choque_larico.to_i
      - c = @julian_alave_cuito.to_i
      - d = @helmer_joel_fernandez_chaparro.to_i
      - e = @edy_hugo_naca_bailon.to_i
      - f = @sandro_manuel_retamozo_aquije.to_i
      - g = @edgar_rogelio_concori_coaquira.to_i
      - h = @francisco_callacondo_cordova.to_i
      - ii = @rene_chura_huisa.to_i
      - j = @victor_elmer_jareca_laura.to_i
      - k = @edgar_ticona_ramirez.to_i
      - l = @jorge_chambi_flores.to_i
      - m = @guadalupe_sorayda_calamullo_arcaya.to_i
      - n = @victor_choque_mamani.to_i            
        
      - gg = 1

      - if g < a
        - gg = 0
      - if g < b
        - gg = 0
      - if g < c
        - gg = 0
      - if g < d
        - gg = 0
      - if g < e
        - gg = 0
      - if g < f
        - gg = 0
      - if g < g
        - gg = 0
      - if g < h
        - gg = 0
      - if g < ii
        - gg = 0
      - if g < j
        - gg = 0
      - if g < k
        - gg = 0
      - if g < l
        - gg = 0
      - if g < m
        - gg = 0
      - if g < n
        - gg = 0


          

      %tr.well.info
        %td= i          
        %td{:style => 'font-size: 11px;'} 
          %b EDGAR ROGELIO CONCORI COAQUIRA
        %td{:style => 'font-size: 11px;'} 
          %b ORGANIZACION LOCAL (DISTRITAL) SOMOS RENOVACION DISTRITAL
        %td
          %b= @edgar_rogelio_concori_coaquira
          - if gg == 1
            - if g == 0
              %span.label.label-info Esperando
            - else
              %span.label.label-success Ganando                  
          - else
            - if g == 0
              %span.label.label-info Esperando                 
            - else
              %span.label.label-danger Perdiendo
      - i = i + 1
      %tr
        %td= i          
        %td{:style => 'font-size: 11px;'} FRANCISCO CALLACONDO CORDOVA
        %td{:style => 'font-size: 11px;'} PARTIDO POLÍTICO ALIANZA PARA EL PROGRESO
        %td= @francisco_callacondo_cordova
      - i = i + 1
      %tr
        %td= i          
        %td{:style => 'font-size: 11px;'} RENE CHURA HUISA
        %td{:style => 'font-size: 11px;'} PARTIDO POLÍTICO DEMOCRACIA DIRECTA
        %td= @rene_chura_huisa
      - i = i + 1
      %tr
        %td= i          
        %td{:style => 'font-size: 11px;'} VICTOR ELMER JARECA LAURA
        %td{:style => 'font-size: 11px;'} PARTIDO POLÍTICO EL FRENTE AMPLIO POR JUSTICIA, VIDA Y LIBERTAD
        %td= @victor_elmer_jareca_laura
      - i = i + 1
      %tr
        %td= i          
        %td{:style => 'font-size: 11px;'} EDGAR TICONA RAMIREZ
        %td{:style => 'font-size: 11px;'} PARTIDO POLÍTICO PARTIDO HUMANISTA PERUANO
        %td= @edgar_ticona_ramirez
      - i = i + 1
      %tr
        %td= i          
        %td{:style => 'font-size: 11px;'} JORGE CHAMBI FLORES
        %td{:style => 'font-size: 11px;'} PARTIDO POLÍTICO RESTAURACION NACIONAL
        %td= @jorge_chambi_flores
      - i = i + 1
      %tr
        %td= i          
        %td{:style => 'font-size: 11px;'} GUADALUPE SORAYDA CALAMULLO ARCAYA
        %td{:style => 'font-size: 11px;'} PARTIDO POLÍTICO SIEMPRE UNIDOS
        %td= @guadalupe_sorayda_calamullo_arcaya
      - i = i + 1
      %tr
        %td= i          
        %td{:style => 'font-size: 11px;'} VICTOR CHOQUE MAMANI
        %td{:style => 'font-size: 11px;'} PARTIDO POLÍTICO VAMOS PERU
        %td= @victor_choque_mamani