.page-header
  %h1 Colegios
= link_to 'Crear Colegio', new_colegio_path, class: 'btn btn-primary'
%br
%br
.row
  .col-sm-12
    .table-responsive
      %table.table
        %tr
          %th Nombre
          %th Eleccione
 
          %th Acciones
        - @colegios.each do |colegio|
          %tr
            %td= colegio.nombre
            %td= colegio.eleccione.nombre
            %td
              = link_to 'Ver', colegio, class: 'btn btn-info'              
              = link_to 'Editar', edit_colegio_path(colegio), class: 'btn btn-success'
              = link_to 'Eliminar', colegio, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'